<div id="<%= dom_id shop %>">
  <p>
    <strong><%= Shop.human_attribute_name(:name) %>:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong><%= Shop.human_attribute_name(:city) %>:</strong>
    <%= shop.city %>
  </p>

  <p>
    <strong><%= Shop.human_attribute_name(:address) %>:</strong>
    <%= shop.address %>
  </p>
</div>
